import groovy.time.TimeDuration

singularity {
    autoMounts=true
    enabled=true
}

retry_val=3

// PIPELINE ARGS - Inherit from pipeline configuration files
params.application = "$application"
params.version = "$version"
params.out="$baseDir"
params.simg = "$simg"
params.invocation= "$invocation"
params.descriptor = "$descriptor"

// ADDITIONAL OPTIONS
params.license = "PATH TO FREESURFER LICENSE"
params.scratchDir = "PATH TO TEMPORARY DIRECTORY"

// Ensure that cluster-time is of closure type
if (!(cluster_time instanceof Closure)){
    params.cluster_time = { s -> cluster_time }
}else{
    params.cluster_time = cluster_time
}

includeConfig "./profiles.nf.config"
includeConfig "./report_invocation.nf.config"

process {

    withName: modify_invocation{
        executor= 'local'
    }

    withName: save_invocation {
        executor= 'local'
    }

    withName: run_bids {
        maxRetries = retry_val
        errorStrategy = {task.attempt == retry_val ? "finish" : "retry"}
        clusterOptions = "--mem-per-cpu=$cluster_mem_cpu\
         --cpus-per-task=$cluster_cpus --job-name ${application}_${version}\
         --nodes=1"
    }
}
