application = "freesurfer"
version = '6.0.1'
simg = "/archive/code/containers/FREESURFER/bids_freesurfer_latest-2018-08-01-722347ca4718.simg"
invocation = "/archive/code/boutiques_jsons/invocations/freesurfer-6.0.1_invocation.json"
descriptor = "/archive/code/boutiques_jsons/descriptors/freesurfer-6.0.1.json"
cluster_time="24:00:00"
cluster_mem_cpu="2048"
cluster_cpus="2"
includeConfig './bids.nf.config'