
// Report configuration spec
params.application="generate_pepolar"
params.version="v1"
retry_val = 3
includeConfig './report_default.nf.config'

// Process configuration spec
profiles{

    standard{
        process.executor = "SLURM"
        process.queue = "high-moby"
    }

    kimel{
        process.executor = "SLURM"
        process.queue = "high-moby"
    }

    local{
        process.executor="local"
        maxForks=16
    }

    scc{
        process.executor="SLURM"
        process.queue="short"
    }
}

process{

    withLabel: FSL{
        module = 'FSL/5.0.11' 
    }

    withName: gen_pepolar{
        maxRetries = retry_val
        errorStrategy = { task.attempt == retry_val ? "ignore" : "retry" }
        cpus=1
        time='5m'
    }
}


