# TEMPLATE CONFIGURATION FILE FOR SETTING UP NEW BIDS-APPLICATIONS

application="Name of application being run"
version="Version of pipeline"

simg="Default Singularity image to use"
invocation="Default Boutiques invocation JSON to use"
descriptor="Default Boutiques descriptor JSON to use"

cluster_time="Expected run-time of cluster"
cluster_mem_cpu="MB of memory required per pipeline run"
cluser_cpus="Number of CPUs required per pipeline run"

includeConfig '<path_to_tigr-purr config>'/bids.nf.config'
