singularity {

    autoMounts=true
    enabled=true

}

params.application = "$application"
params.version = "$version"
params.out="$baseDir"
retry_val=3
license="/freesurfer/6.0.0/build/"

profiles {

    //DEFAULT
    standard {

        process.executor = "SLURM"
        process.queue = "high-moby"
        params.simg = "$simg"
        params.invocation= "$invocation"
        params.descriptor = "$descriptor"
        params.license = "/opt/quarantine/$license"
    }

    kimel {

        process.executor = "SLURM"
        process.queue = "high-moby"
        params.simg = "$simg"
        params.invocation= "$invocation"
        params.descriptor = "$descriptor"
        params.license = "/opt/quarantine/$license"
    }

    scc {

        process.executor = "SLURM"
        process.queue = "long"
        params.simg = "/KIMEL/tigrlab/$simg"
        params.invocation= "/KIMEL/tigrlab/$invocation"
        params.descriptor = "/KIMEL/tigrlab/$descriptor"
        params.license = "/KIMEL/quarantine/$license"

    }

    local {
        process.executor = "local"
        params.simg = "$simg"
        params.invocation= "$invocation"
        params.descriptor = "$descriptor"
        params.license = "/opt/quarantine/$license"

    }


}

includeConfig './report_invocation.nf.config'

process {

    withName: modify_invocation{
        executor = 'local'
    }

    withName: save_invocation {
        executor="local"
    }

    withName: run_bids {
        maxRetries = retry_val
        errorStrategy = {task.attempt == retry_val ? "finish" : "retry"}
        clusterOptions = "--time=$cluster_time --mem-per-cpu=$cluster_mem_cpu\
         --cpus-per-task=$cluster_cpus --job-name ${application}_${version}\
         --nodes=1"
    }
}
