application = "fMRIPrep"
version = "1.3.2"
simg = "/archive/code/containers/FMRIPREP/poldracklab_fmriprep_1.3.2-2019-03-18-573e99cc5d39.simg"
invocation = "/archive/code/boutiques_jsons/invocations/fmriprep-1.3.2_invocation.json"
descriptor = "/archive/code/boutiques_jsons/descriptors/fmriprep-1.3.2.json"
cluster_time="24:00:00"
cluster_mem_cpu="4096"
cluster_cpus="4"
includeConfig './bids.nf.config'