application = "fmriprep"
version = "1.5.8"
simg = "/archive/code/containers/FMRIPREP/poldracklab_fmriprep_1.5.8-2020-01-28-3555353b3bc9.simg"
invocation = "/archive/code/boutiques_jsons/invocations/fmriprep-1.5.8_invocation.json"
descriptor = "/archive/code/boutiques_jsons/descriptors/fmriprep-1.5.8.json"
cluster_time="24:00:00"
cluster_mem_cpu="2048"
cluster_cpus="6"
includeConfig './bids.nf.config'
