application = "fmriprep"
version = "20.2.0"
simg = "/archive/code/containers/FMRIPREP/poldracklab_fmriprep_20.2.0-2020-09-28-24f22c9107bf.simg"
invocation = "/archive/code/boutiques_jsons/invocations/fmriprep-20.2.0_invocation.json"
descriptor = "/archive/code/boutiques_jsons/descriptors/fmriprep-20.2.0.json"
cluster_time="36:00:00"
cluster_mem_cpu="2048"
cluster_cpus="6"
includeConfig './bids.nf.config'
