application = "freesurfer"
version = '6.0.1_longitudinal'
simg = "/archive/code/containers/FREESURFER/bids_freesurfer_latest-2018-08-01-722347ca4718.simg"
invocation = "/archive/code/boutiques_jsons/invocations/freesurfer-6.0.1_invocation.json"
descriptor = "/archive/code/boutiques_jsons/descriptors/freesurfer-6.0.1.json"
cluster_mem_cpu="2048"
cluster_cpus="2"

cluster_time = { s ->
    h = 24 * s
    return "${h}:00:00"
}

includeConfig './bids.nf.config'
