application = "HCPPipelines"
version = '4.0.0-1'
simg = "/archive/code/containers/HCPPipelines/hcppipelines_4.0.0-1-2019-11-22-8667b8caa8d4.simg"
invocation = "/archive/code/boutiques_jsons/invocations/hcppipelines-4.0.0-1_invocation.json"
descriptor = "/archive/code/boutiques_jsons/descriptors/hcppipelines-4.0.0-1.json"
cluster_time="48:00:00"
cluster_mem_cpu="1024"
cluster_cpus="4"
includeConfig './bids.nf.config'
