application = "HCPPipelines"
version = '4.1.3'
simg = "/archive/code/containers/HCPPipelines/hcppipelines_v4.1.3-2021-06-02-149df3636171.simg"
invocation = "/archive/code/boutiques_jsons/invocations/hcppipelines-4.1.3_invocation.json"
descriptor = "/archive/code/boutiques_jsons/descriptors/hcppipelines-4.1.3.json"
cluster_time="48:00:00"
cluster_mem_cpu="1024"
cluster_cpus="8"
includeConfig './bids.nf.config'
