application = "MRIQC"
version = '0.14.2'
simg = "/archive/code/containers/MRIQC/poldracklab_mriqc_0.14.2-2018-08-21-453030cc5a18.img"
invocation = "/archive/code/boutiques_jsons/invocations/mriqc-0.14.2_invocation.json"
descriptor = "/archive/code/boutiques_jsons/descriptors/mriqc-0.14.2.json"
cluster_time="4:00:00"
cluster_mem_cpu="2048"
cluster_cpus="4"
includeConfig './bids.nf.config'