singularity {

    autoMounts=true
    enabled=true

}

params.bspline = 250
params.niter = 25
params.out = "$baseDir"
params.application= "ants_n4"
params.version = "2.3.1"
params.archive = "/archive/data/"
params.niworkflows = "/archive/code/containers/NIWORKFLOWS/niworkflows_1.1.3.simg"
params.bin = "/archive/code/tigrlab_nextflow/bin"


includeConfig './report_default.nf.config'

profiles {

    standard {
        process.executor="SLURM"
        process.queue="high-moby"
    }

    kimel {
        process.executor="SLURM"
        process.queue="high-moby"
    }


    scc {
        process.executor="SLURM"
        process.queue="short"
        params.archive = "/KIMEL/tigrlab/$params.archive"
        params.niworkflows = "/KIMEL/tigrlab/$params.niworkflows"
        params.bin = "/KIMEL/tigrlab/$params.bin"
    }

    local {
        process.executor="local"
    }

}

retry_val = 3

process {

    withLabel: niworkflows{
       container = params.niworkflows
       containerOptions = "-B $params.bin:/scripts"
       maxRetries = retry_val
       errorStrategy = { task.attempt == retry_val ? "finish" : "retry" }
       clusterOptions = "--time=4:00:00 --mem-per-cpu=1024\
                   --cpus-per-task=4 --job-name ${params.application}_${params.version}\
                   --nodes=1"
    }

}
