retry_val = 3
process{

    withLabel: fmriprep{
        container = params.fmriprep_img
        containerOptions = "-B $bin_dir:/scripts"
    }

    withName: denoise_image{
        executor = "$engine"
        queue = "$partition"
        time = "00:25:00"
        cpus = 6
        clusterOptions = "--job-name denoise_recalculate_confounds --nodes=1"
        maxRetries = retry_val
        errorStrategy = {task.attempt == retry_val ? "finish" : "retry"}
    }

    withName: apply_mask{
        executor = 'local'
        maxForks = 16
    }

    withName: fast{
        executor = "$engine"
        queue = "$partition"
        time = "00:20:00"
        cpus = 1
        clusterOptions = "--job-name fast-recalculate_confounds --nodes=1"
    }

    withName: gen_confounds{
        executor = 'local'
        maxForks = 16
    }

}
