singularity{
    autoMounts=true
    enabled=true
}

params.fmriprep_img = "/archive/code/containers/FMRIPREP/poldracklab_fmriprep_1.5.8-2020-01-28-3555353b3bc9.simg"
params.application = "recalculate_confounds"
params.version = "v0.1-alpha"
bin_dir = "/archive/code/tigrlab_nextflow/bin"

profiles {

    kimel{
        engine = 'slurm'
        partition = "high-moby"
        fmriprep_img = params.fmriprep_img
        includeConfig './recalculate_confounds_process.nf.config'
    }

    local{
        engine = 'local'
        partition = "null"
        fmriprep_img = params.fmriprep_img
        includeConfig './recalculate_confounds_process.nf.config'
    }

    scc{
        engine = 'slurm'
        partition = "short"
        fmriprep_img = "/KIMEL/tigrlab/$params.fmriprep_img"
        bin_dir = "/KIMEL/tigrlab/$bin_dir"
        cache_dir="/KIMEL/tigrlab/$cache_dir"
        includeConfig './recalculate_confounds_process.nf.config'
    }

}

includeConfig './report_default.nf.config'
